<section>
<div class="text-center border-line">購入ありがとうございました</div>
<div class= "text-center border-line"><%= link_to "マイページを見る", mypage_path %>　　　<%= link_to "商品一覧ページへ戻る", items_path %></div>
</section>