<section>
	<p class="text-center border-line text-color">
	ご購入ありがとうございました！発送状況はマイページにてご確認いただけます！
	</p>
	<div class= "text-center border-line">
		<%= link_to "マイページを見る", mypage_path %>　　　<%= link_to "商品一覧ページへ戻る", items_path %>
	</div>
</section>